
body {
    background-color: black;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-container {
    margin: 0 auto;
    height: 90dvh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input-container-1 {
    display: flex;
  }
  .input-column {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    width: 50%;

  }

  .input-container-2 {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;

  }

  input {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    font-size: 16px;
    width: 300px;
    height: 50px;
    padding: 0 0 0 20px;
    color: white;
    transition: 0.5s;
}
input:hover {
    transition: 0.5s;
    border-radius: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 19px -19px #FFFFFF;

}

input:focus {
    outline: none;
    box-shadow: 0px 10px 19px -19px #FFFFFF;
    border-radius: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

  .btn-container {
    padding: 0 20px;
}
  button {
    width: 185px;
    height: 45px;
    font-size: 20px;
    margin: 10px 0px 5px 0px;
    border-radius: 99px;
    font-style: none;
    border: solid #E0CA3C;
    background-color: rgba(255, 255, 0, 0.007);
    color: white;
  }

  button:hover{
    color: #E0CA3C;
    transition: .3s;
}

  textarea {
    resize: none;
    background: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    width: 740px;
    height: 150px;
    padding: 15px 0 0 78px;
    color: white;
    transition: 0.5s;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
  

  h1 {
    align-self: center;
    font-size: 50px;
    color: white;
    text-shadow: 0px 3px 4px #E0CA3C;
    padding: 20px 130px 0 80px; 
  }

  label {
    margin: 15px 0 2px 0;
    color: #E0CA3C;
    display: block;
    font-size: 1.00em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

  }