body{
    margin: 0;
    padding: 0;
    background-color: #020200;
}

.header{
    display: flex;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.logo{
    color: #e0ca3c;
    font-weight: 500;
}

.navbar{
  list-style-type: none;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.header a{
    text-decoration: none;
    color: #ffffff
    
}

li {
    margin:0 0 0 30px;
    
}